/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/variables";
@import "./assets/scss/bootstrap";


.loading {
  width: 75%;
  margin: 50px auto;
  text-align: center;
  font-size: 2rem;

  span {
    margin-left: 10px;
  }
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
