.auth-form {
  background: #fff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border: 1px solid #c1cedb;
  width: 400px;
  margin: 50px auto;
  font-family: 'Fira Sans Condensed', sans-serif;

  .form-wrapper {
    padding: 20px;
  }
  .alert {
    margin-top: 10px;
  }
}
